.App {
    text-align: center;
    /*background-color: #282c34;*/
    /*min-height: 100vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    /*color: white;*/
}

.ul {
    justify-content: normal;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
